
  .InputContainer{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  .input {
    width: 15em;
    height: 3em;
    border: none;
    outline: none;
    background-color: rgb(255, 255, 255);
    border-radius: 2em 0em 0em 0em;
    padding-left: 15px;
    letter-spacing: 0.8px;
    color: rgb(19, 19, 19);
    font-size: 13.4px;
  }
  
  .thebutton{
    height: 3.2em;
    padding: 10px 20px;
    background-color: #fff; /* Color de fondo del botón */
    color: #fff; /* Color del texto */
    border: none;
    border-radius: 0em 0em 2em 0em ; /* Esto crea una forma circular */
    position: relative;
  }

